/* BASIC */

html {
    font-family: 'Maven Pro', sans-serif;
    background: #020024;
    background: linear-gradient(90deg, #021e52 0%, #05206b 9%, #02468f 100%);
    color: white;
    scroll-behavior: smooth;
    background-size: 400% 400%;
    animation: gradient 4s ease-in-out infinite;
}

nav {
    position: fixed !important;
    z-index: 999;
    font-family: MetroFont;
    background-color: #ffffff00 !important;
}

.logo-image {
    max-width: 1.8rem;
    align-self: center;
}

@media only screen and (max-width: 320px) {
    .logo-image {
        display: none;
    }
}

@media only screen and (min-width: 320px) {
    .logo-image {
        display: none;
    }
}

.brand-logo {
    font-size: 2.1rem;
}

@media only screen and (max-width: 393px) {
    .brand-logo {
        font-size: 1.4em !important;
    }
}

@media only screen and (max-width: 424px) {
    .brand-logo {
        font-size: 1.5em !important;
    }
}


/* HEADER */

.header-flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.header-flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 3 2 auto;
    -ms-flex: 3 2 auto;
    flex: 3 2 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.header-flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: center;
}


/* TEXT HEADERS AND PARAGRAPHS */

@media only screen and (max-width: 463px) {
    h1 {
        font-size: 3.5em !important;
    }
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 3em !important;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 2.5em !important;
    }
}

.h2-hl-scarlet {
    color: white;
    background-color: #cd1231d5;
    width: wrap-content;
    display: inline-block;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.15em;
    padding-top: 0.10em;
}

.h2-hl-rafblue {
    color: white;
    background-color: #012856;
    width: wrap-content;
    display: inline-block;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.15em;
    padding-top: 0.10em;
}

.box-highlight-rafblue {
    color: white !important;
    background-color: #012856;
    width: wrap-content;
    display: inline-block;
    padding: 0 0.5em 0 0.5em !important;
    margin-bottom: 0.5em !important;
}

p {
    color: #424357;
}

.p-appname-gen {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}


/* CARDS */

.card-skills {
    padding: 0 0 0.5em 1em;
}

.card-contact {
    padding: 0 1em 0.5em 1em;
}

.card-skills-title {
    width: 100%;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.35em;
    padding-top: 0.20em;
    text-align: center;
}

.card-neumorph {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    width: 90%;
    padding: 1.5em;
    border-radius: 50px;
    background: #f1f3f6;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, .2);
}

.card-image-neumorph {
    width: 100% !important;
    border-radius: 1em;
    box-shadow: inset 2px 2px 10px #1a1a1a, inset -5px -5px 10px #3f3f3f;
}

.card-neumorph-rafblue {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    width: 90%;
    padding: 1.5em;
    border-radius: 3em;
    border-color: transparent !important;
    background: #003d83;
    box-shadow: inset 0 0 15px #3754aa00, inset 0 0 20px #ffffff00, 7px 7px 15px #091b52a9, -7px -7px 20px #1a1d3577, inset 0px 0px 4px #3734ff33;
    transition: 0.2s;
}

.card-neumorph-rafblue:hover {
    background: #091f3a;
    box-shadow: inset 0 0 15px #3754aa00, inset 0 0 20px #ffffff00, 7px 7px 15px #07195026, inset -7px -7px 20px #00063d9c, inset 0px 0px 4px #2e399e9c;
}

.card-blog-scarlet {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    width: 90%;
    padding: 0.5em 1.5em 1.5em 1.5em;
    border-radius: 50px;
    color: black;
    background: #f1f3f6;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(255, 144, 144), inset 0px 0px 4px rgba(255, 255, 255, .2);
}


/* IMAGES */

.img-applogo {
    display: block;
    width: 15%;
    margin: auto;
    margin-bottom: 1em;
}

.img-profilepic {
    display: block;
    width: 10%;
    animation: floatingImage 4s ease-in-out infinite;
}


/*
    -webkit-box-shadow: 3px 2px 16px 3px rgba(0, 0, 51, 0.54);
    -moz-box-shadow: 3px 2px 16px 3px rgba(0, 0, 51, 0.54);
    box-shadow: 3px 2px 16px 3px rgba(0, 0, 51, 0.54);
*/

@media only screen and (max-width: 804px) {
    .img-profilepic {
        display: none !important;
    }
}

.neumorphic-card-photo {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 6px 6px 8px 0 rgba(17, 0, 255, 0.3), -4px -4px 6px 0 rgba(0, 0, 0, .25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* BUTTONS */

.button {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.8em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    background-color: #0173CF !important;
    width: auto;
    height: 33px;
    text-decoration: none;
    color: #fff;
    border: .0625rem solid #0064b6;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 10px 10px 15px #3748aa40, -10px -8px 15px #bfbaff40;
    transition: 0.3s !important;
}

.button:hover {
    background: #006ac0 !important;
    border: .0625rem solid #41801c00;
    box-shadow: inset 2px 2px 5px #0f1747, inset -3px -3px 7px #001aff40;
}

button:active {
    background-color: #004177 !important;
}

.buttonbig {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.8em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    background-color: #0173CF !important;
    width: auto;
    height: auto;
    text-decoration: none;
    color: #fff;
    outline: none !important;
    border: .0625rem solid #0064b6;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 10px 10px 15px #3748aa40, -10px -8px 15px #bfbaff40;
    transition: 0.3s !important;
}

.buttonbig:hover {
    background: #006ac0;
    border: .0625rem solid #41801c00;
    box-shadow: inset 2px 2px 5px #0f1747, inset -3px -3px 7px #001aff40;
}


/* BG COLOURS */

.bg-transparent {
    background-color: #ffffff00 !important;
}

.dark-grey {
    background-color: #333333ee !important;
}

.raf-blue {
    background-color: #012856 !important;
}

.raf-blue-a1 {
    background-color: #012956ce !important;
}

.raf-scarlet {
    background-color: #CD1231 !important;
}

.raf-purple {
    background-color: #6912cd !important;
}

.raf-lblue {
    background-color: #A3ACB9 !important;
}

.raf-nblue {
    background-color: #0173CF !important;
}

.raf-grey {
    background-color: #E9E9E9 !important;
}

.raf-white {
    background-color: white !important;
}

.raf-neum {
    background-color: #f1f3f6 !important;
}

.bg-brown {
    background-color: #46241c !important;
}


/* TEXT COLOURS */

.txt-raf-blue {
    color: #012856 !important;
}

.txt-white {
    color: #fff !important;
}

.txt-raf-blue-a1 {
    color: #012956ce !important;
}

.txt-raf-scarlet {
    color: #CD1231 !important;
}

.txt-raf-grey {
    color: #E9E9E9 !important;
}


/* ICONS */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}


/* MARGINS */

.margin-none {
    margin: 0 0 0 0;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.mb-4 {
    margin-bottom: 4em;
}

.mr-1 {
    margin-right: 1em;
}

.mr-2 {
    margin-right: 2em;
}

.mr-3 {
    margin-right: 3em;
}

.mr-10pc {
    margin-right: 10%;
}

.ml-10pc {
    margin-left: 10%;
}


/* PADDINGS */

.padding-card {
    padding: 0.5em 0.3em 1em 0.3em;
}

.padding-none {
    padding: 0 0 0 0;
}

.pdt-05 {
    padding-top: 0.5em;
}

.pdt-1 {
    padding-top: 1em;
}

.pdt-2 {
    padding-top: 2em;
}

.pdt-3 {
    padding-top: 3em;
}

.pdt-4 {
    padding-top: 4em;
}

.pdb-1 {
    padding-bottom: 1em;
}

.pdb-2 {
    padding-bottom: 2em;
}

.pdb-3 {
    padding-bottom: 3em;
}

.pdb-4 {
    padding-bottom: 4em;
}


/* FONTS */

.font-nunito {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.font-metrofont-bold {
    font-family: MetroFontBold;
    font-weight: 500;
}

.font-metrofont {
    font-family: MetroFont;
    font-weight: 500;
}


/* MAX WIDTHS */

.max-width-100 {
    max-width: 100%;
}


/* FLOAT POSITIONS */

.float-right {
    text-align: right;
}


/* CUSTOM FONTS */

@font-face {
    font-family: MetroFont;
    src: url(../fonts/johnstonitcstd-medium.otf);
}

@font-face {
    font-family: MetroFontBold;
    src: url(../fonts/johnston-itc-std-bold.otf);
}


/* ANIMATIONS */

@keyframes floatingImage {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
        transform: scale(1);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(-10px);
        transform: scale(1.1);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
        transform: scale(1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* DIVIDERS */