html {
    font-family: SF-display !important;
}

.dark-grey {
    background-color: #333333;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.font-sf-semibold {
    font-family: SF-Semibold !important;
}


/* Custom fonts */

@font-face {
    font-family: SF-display;
    src: url(../fonts/SF-display.ttf);
}

@font-face {
    font-family: SF-Semibold;
    src: url(../fonts/SF-display-Semibold.ttf);
}