/* SNOWBLOCK WEBSITE, Written by Sean Leitch for Snowblock Studios */
/* LAST UPDATED: 14-SEP-2019 */
/* FIRST WRITTEN: 10-JUL-2019 */
/* MATERIALIZE FRAMEWORK in use */

html {
  scroll-behavior: smooth;
  background: #0097a7;
  background: linear-gradient(167deg, #6a1b9a 0%, #0097a7 83%);
}

nav {
  background-color: #0097A7;
  z-index: 100066 !important;
}

/*Logo text in nav */
.brand-logo {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 2em !important; 
}

/* Header Title Text*/
.header {
	font-family: 'Nunito', sans-serif;
	font-weight: 800;
}

/* Image in the banner */
.index-banner {
  position: fixed;

  right: 0;
  bottom: 0;

  min-width: 100%; 
  min-height: 100%; 

  z-index: -1;
}

/* Container2: Content: contains everything bellow banneer and above footer */
#container2-content {
  background: transparent;
}

/* container2-subcontent: contains everything inside container 2.*/
.container2-subcontent {
  background-color: transparent;
}

/* row-container: each row inside container2-subcontent. */
.row-container {
  margin-bottom: -20px; /* This cancels the margin bottom property in Materialize's "row" class. */
  margin-top: -20px; 
  padding-bottom: 60px;
} 

/* Row1Column1 */
.row {
  padding-top: 1em;
}

/* Row1Column1 */
.row1-column1 {
  max-width: 458px;
}

/* Image in the first row */
.row1-column2-img {
  display: block;
  max-width: 80%;
  margin: auto;
  
  vertical-align: middle;

}

/* Image in the first row (Above 600px) */
@media only screen and (min-width: 600px) {
  .row1-column2-img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}

/* Row Limiter, limits the width*/
.row-width-limiter {
  max-width: 1350px;
  margin: auto;
}

/* Row Limiter2, limits the width*/
.row-width-limiter2 {
  max-width: 1600px;
  margin: auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer {
  margin-top: 0; 
}

.card {
  position: relative;
  margin: 2em;
}

/* Hover over card to expand */
.card:hover {
  transition: 0.2s ease-out;
  transform: scale(1.03);
}

.card-margin {
  margin-right: auto;
  margin-left: auto;
}

/* Small Image In Portfolio */
.portfolio-img {
  position: relative;

  max-width: 99%;
  margin: auto;
  
  margin-top: 2em;
  margin-bottom: 2em;

  align-content: center;
}

/* CUSTOM COLORS */
.dark-purple {
  background-color: #180C2E;
}

.dark-purple-1 {
  background-color: #512692;
}

.yellow-gradient {
  background: linear-gradient(182deg, #fff59d 0%, #fff59d 87%, #ffffff 90%);
}

.orange-gradient {
  background: linear-gradient(-1deg, #FFCC80 0%, #FFCC80 87%, #ffffff 90%);
}

.nav-wrapper {
  color: purple !important;
}

/* CUSTOM FONT-SIZES */
.h5-text-large-1 {
  font-size: 3em;
}

.p-text-large-1 {
  font-size: 1.5em;
  min-width: 100%;
}

/* Article Date on blog home page */
.article-date {
  font-size: 0.8em;
  color: #9c27b0;
}

/* Article Date on each article page */
.article-date2 {
  color: #9c27b0;
}