/* Sean Leitch, Snowblock Studios February 2019 */
html {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

/* Body Mobile/Responsive Design */ 
@media only screen and (max-width: 720px) { 
  body {
    max-width: 720px;
    background-color: #ffffff;
  }  
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-bottom: 0em;
  background-color: #ffffff;
  box-shadow: 0 0px 3px 0px rgba(0,0,0,0.16), 0 0px 3px 0px rgba(0,0,0,0.23);
  z-index: 10;

}

/* Title Text in the header bar */
.index-header-text-title {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.7em;
    text-align: center;
    color: #7e57c2;
    user-select: none;
}

main {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  background-color: #ffffff;
}

/* Main Mobile/Responsive Design */ 
@media only screen and (max-width: 720px) { 
  main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: none;
  }
}

/* Main Desktop/Responsive Design */ 
@media only screen and (min-width: 720px) { 
  main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: none;
  }
}

/* section 1 -> Introduction section */
.index-main-section1 { 
  position: relative;
  top: 1em;
  width: 100%;
  height: 370px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  margin-top: none;
}

/* section 1 Desktop/Responsive Design */ 
@media only screen and (min-width: 720px) { 
  .index-main-section1 {
    background-image: url("assets/index-section1-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
}

/* section 1 Mobile/Responsive Design */ 
@media only screen and (max-width: 720px) { 
  .index-main-section1 {
    background-image: url("assets/index-section1-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; 
  }
}

/* Title text in section 1 */
.index-main--section1-text-title {
  position: relative;
  top: 30%;
  left: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 4em;
  color: #ffffff;
  text-shadow: 2px 2px 10px #000000;
  margin-right: 1em;
  transition: all 1.25s ease-in-out;
}

/* Title text in section 1  Mobile/Responsive Design */ 
@media only screen and (max-width: 720px) { 
  .index-main--section1-text-title {
    position: relative;
    top: 10%;
    left: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 4em;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 10px #000000;
    margin-right: 1em;
  }
}

/* Subtitle text in section 1 */
.index-main--section1-text-subtitle {
  position: relative;
  top: 2em;
  left: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 2px 2px 10px #000000;
  margin-right: 1em;
  transition: all 1.5s ease-in-out;
}

/* Subtitle text in section 1  Mobile/Responsive Design */ 
@media only screen and (max-width: 720px) { 
  .index-main--section1-text-subtitle {
    position: relative;
    top: 10%;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 1px #000000;
  }
}

/* Button in section 1*/ 
.index-main--section1-button {
  position: relative;
  left: 70%;
  padding: 1em;
  border-width: 0;
  border-radius: 0.3em;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .6);
  width: 8em;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 12pt;
  background-color: #ff8ecc;
  color: #ffffff;
}

/* Button in section 1  Mobile/Responsive Design */ 
@media only screen and (max-width: 720px) { 
  .index-main--section1-button {
    position: relative;
    display: block;
    left: 35%;
    top: 10%;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 12pt;
    background-color: #ff8ecc;
  }
}

/* Button in section 1 hovered*/ 
.index-main--section1-button:hover {
  background-color: #be3f85;
}

/* section 2 - What I do */
.index-main-section2 {
  position: relative;
  top: -4px;
  width: 100%;
  margin: none;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #ffc1e3;
}

/* Title text in section 2 */
.index-main--section2-text-title {
  position: relative;
  top: 10%;
  left: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  color: #000000;
  transition: all 1.5s ease-in-out;
}

/* Title text in section 2  Mobile/Responsive Design */ 
@media only screen and (max-width: 720px) { 
  .index-main--section2-text-title {
    position: relative;
    top: 10%;
    left: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #000000;
    text-align: center;
  }
}

/* Paragraph1 text in section 2 */
.index-main--section2-text-paragraph1 {
  position: relative;
  top: 10%;
  left: 15%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.8em;
  color: #000000;
  margin-right: 3em;
  max-width: 1000px;
  transition: all 1.5s ease-in-out;
}

/* Paragraph1 text in section 2  Mobile/Responsive Design */ 
@media only screen and (max-width: 720px) { 
  .index-main--section2-text-paragraph1 {
    position: relative;
    top: 10%;
    left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.8em;
    color: #000000;
    margin-right: 3em;
    transition: all 1.5s ease-in-out;
  }
}

/* section 3 - Skills */
.index-main-section3 {
  position: relative;
  top: -4px;
  width: 100%;
  margin: none;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #ffcdd2;
}

/* Subtitle text in section 3(skills) */
.index-main--section3-text-subtitle {
  position: relative;
  top: 10%;
  left: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #000000;
  transition: all 1.5s ease-in-out;
}

/* section 4 - Portfolio */
.index-main-section4 {
  position: relative;
  top: -4px;
  width: 100%;
  margin: none;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #b2fef7;
  max-width: 1280px;
}

/* section 5 - Prices */
.index-main-section5 {
  position: relative;
  top: -4px;
  width: 100%;
  margin: none;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #d7ffd9;
}

/* section 5-> container */
.index-main-section5-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  margin: none;
  background-color: #023602;
}

/* section 5->article1 - Basic Site */
.index-main-section5-container-article1 {
  position: relative;
  display: flex;
  font-size: 12pt;
  margin: auto;
  margin-bottom: 2em;
  width: 90%;
  height: 10em;
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0px rgba(0,0,0,0.16), 0 3px 10px 1px rgba(0,0,0,0.23);
}

/* Subtitle text in section 5(buy) */
.index-main--section5-text-subtitle {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #000000;
  transition: all 1.5s ease-in-out;
}

@keyframes colorchange {
  0%   {background: #0077c2;}
  25%  {background: #7e57c2;}
  45%  {background: #5c6bc0;}
  65%  {background: #ab47bc;}
  85% {background: #0069c0;}
  100% {background: #0077c2;}
}

/* Safari and Chrome - necessary duplicate */
@-webkit-keyframes colorchange {
  0%   {background: #0077c2;}
  25%  {background: #7e57c2;}
  45%  {background: #5c6bc0;}
  65%  {background: #ab47bc;}
  85% {background: #0069c0;}
  100% {background: #0077c2;}
}

